@import 'breakpoints';

.status {
	$parent: &;

	background-color: rgba(0, 0, 0, 0.08);
	line-height: 1.1;
	font-size: 80%;
	margin: 20px 0;
	border-radius: 15px;
	padding: 4px;
	vertical-align: middle;

	&__label {
		display: inline-block;
		border-radius: 10px;
		background-color: var(--clr-primary);
		color: #fff;
		text-transform: uppercase;
		padding: 5px 8px;
		margin-right: 8px;
		line-height: 1;

		font-family: var(--heading-font);
	}
}
